{% extends 'main.html' %}
{% block title %}
<title>Editar Pelicula</title>
{% endblock title %}
{% block h1 %}
<h1>
    Editar Pelicula
</h1>
{% endblock h1 %}

{% block after_header %}
<p>
    <a href="{% url 'list_peliculas' %}">Volver</a>
</p>
<p>
    <form action="{% url 'editar_pelicula' pelicula.id %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
        <button>Editar</button>
    </form>
</p>
{% endblock after_header %}