{% extends 'base.html' %}

{% block title %}
<title>Listado de Peliculas</title>
{% endblock title %}

{% block texto_header %}
    Listado de Peliculas
{% endblock texto_header %}

{% block body %}

<div style="width:800px;">
    <ul>
        <li>
        <form action={% url 'list_peliculas' %}>
            {{form}}
            <button>Buscar</button>
        </form>
        </li>
    </ul>
</div>
<p>
    {% if Blog_pelicula %}
        <ul>
            {% for pelicula in object_list %}
            <hr>
            <li>
                {% if pelicula.imagen %}
                    <img src="{{ pelicula.imagen.url }}" width=100 height=100>
                {% else %}
                    <div style="width:100px; height:100px;">X</div>
                {% endif %}
                <a href="{% url 'mostrar_pelicula' pelicula.pk %}">{{ pelicula.titulo }}</a>
                - Creado por: {{ pelicula.autor }}-

                {% if request.user.is_authenticated %}
                    {% if pelicula.autor|make_list == request.user.username|make_list %}
                        <a href="{% url 'editar_pelicula' pelicula.pk %}">Editar</a>
                        <a href="{% url 'eliminar_pelicula' pelicula.pk %}">Eliminar</a>

                    {% endif %}
                {% endif %}
                <br/>
                {{ pelicula.subtitulo }}
                <br/>
            </li>
            {% endfor %}
            <hr>
        </ul>
    {% else %}
        No se encontraron datos.
    {% endif %}
</p>
{% endblock body %}