{% extends 'base.html' %}

{% block title %}
<title>{{ pelicula.titulo }}</title>
{% endblock title %}

{% block texto_header %}
    {{ pelicula.titulo }}
{% endblock texto_header %}

{% block body %}

<div class="subtitulo2"> <h4>
    {{ pelicula.subtitulo }} </h4>
</div>


<div class="table">
    <img src="{{ pelicula.imagen.url }}" alt="{{pelicula.titulo|safe}}" width="800" height="600">
    <p>{{ pelicula.contenido|safe }}
    </p>

</div>



<small>Por: {{ pelicula.autor }} - {{ pelicula.fecha_creacion }}</small>
{% endblock body %}