{% extends 'base.html' %}
{% block title %}
<title>Pelicula</title>
{% endblock title %}
{% block h1 %}
<h1>
    Pelicula
</h1>
{% endblock h1 %}

{% block after_header %}
<p>
    <a href={% url 'list_peliculas' %}>Volver</a>
</p>
<p>
    <ul>
        <li>
            {{pelicula.titulo}}
        </li>
        <li>
            {{pelicula.trama | safe}}
        </li>
        <li>
            {{pelicula.fecha_estreno}}
        </li>
        <li>
            {% if pelicula.imagen %}
            <img src={{pelicula.imagen.url}} alt="" height="250px">
            {% endif %}
        </li>
        <li>
            {% if pelicula.director %}
            Creado por {{pelicula.director}}
            {% else %}
            No se encontro al director
            {% endif %}
        </li>
    </ul>
</p>
{% endblock after_header %}