{% extends 'base.html' %}


{% block title %}
    <title>Sobre mi</title>
{% endblock title %}

{% block texto_header %}
        Sobre mi
{% endblock texto_header %}


{% block body %}
    <p>
        Mi nombre es Ian Munna Fourcade, tengo 22 años y soy un estudiante universitario que esta cursando la "tecnicatura en progamacion" en la UTN. Decidi comenzar en el mundo de la programacion ya que mi padre y mi tio son licenciados en sistemas por ende siempre fue algo cercano a mi.  
    </p>
{% endblock %}